---
permalink: /feed.json
eleventyExcludeFromCollections: true
---
{
  "version": "https://jsonfeed.org/version/1.1",
  "title": "{{ site.title }}",
  "home_page_url": "{{ site.url }}",
  "feed_url": "{{ site.url }}{{ site.jsonfeed.path }}",
  "description": "{{ site.description }}",
  "author": {
    "name": "{{ site.author.name }}",
    "url": "{{ site.url }}"
  },
  "items": [
    {%- for post in collections.publishedPosts %}
    {% set absolutePostUrl %}{{ site.url }}{{ post.url | url }}{% endset %}
    {
      "id": "{{ absolutePostUrl }}",
      "url": "{{ absolutePostUrl }}",
      "title": "{{ post.data.title }}",
      "content_html": {% if post.templateContent %}{{ post.templateContent | htmlToAbsoluteUrls(absolutePostUrl) | dump | safe }}{% else %}""{% endif %},
      "date_published": "{{ post.date | dateToRfc3339 }}"
      {% if post.data.tags %},
      "tags": [
        {%- for tag in post.data.tags %}
        "{{ tag }}"{% if not loop.last %},{% endif %}
        {%- endfor %}
      ]
      {% endif %}
    }{% if not loop.last %},{% endif %}
    {%- endfor %}
  ]
} 